@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
    if (HttpContextAccessor.HttpContext.Session.GetString("name") == null)
    {
       
        //return Redirect("/Login/Index");
    }
}
@model PhyndConsumer.Models.User
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phynd | Home</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #0094ff;
            padding: 10px 10px;
        }
    </style>

</head>
<body>
    <div id="login-div">
        <table>
            Hello
            <h1>@HttpContextAccessor.HttpContext.Session.GetString("name")</h1>
        </table>
    </div>
</body>

</html>